@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');
body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    color: #222;
    letter-spacing: 2px;
}
ul li .nav-link{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
ul li .nav-link:hover{
    color: #f58d17;
}
img{
    width: 100%;
}
section{
    padding-top: 85px;
    padding-bottom: 85px;
}

.button {
    letter-spacing: 1px;
    padding: 14px 38px;
}
.slide-1{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://www.mashed.com/img/gallery/heres-the-difference-between-grilled-and-tandoori-chicken/l-intro-1607603831.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
}
.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.alphacoders.com/130/thumb-1920-1308370.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: red;
    border-radius: 3px;
    color: yellow;
}
.carousel-inner h4::after, .carousel-inner h4::before{
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #fff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}
.about-img{
    height: 70vh;
    width: 420px;
}
#about .divider{
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f58d17;
}
.intro-text{
    margin-bottom: 40px;
    text-align: center;
}
.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 ;
}
#menu .nav-pills .nav-link{
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 5px;
}
.menu-item img{
    height: 250px;
}
#menu .nav-pills .nav-link.active{
    background-color: orange;
    color: #fff;
}
.menu-item .stars{
    color:#f58d17;
}
.shadow-on-hover{
    transition: all 0.3s;
}
.shadow-on-hover:hover{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/*Features Section */
#features{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5-sDifSIRyRIHFdY26ZbfYcenRKn28fj5-g&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feature{
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 8px;
}
.feature-icon{
    width: 60px;
    border-radius: 3px;
    height: 60px;
    color: green;
    font-size: 34px;
    background-color: white;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}
.team-member:hover{
    cursor: pointer;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.team-member img{
    max-width: 140px;
    box-shadow: -10px 5px 0 green;
    border-radius: 100px;
}

#reviews{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.milandesignagenda.com/wp-content/uploads/2022/10/Dining-Room-Top-15-Luxury-Dining-Tables-And-Chairs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.person img{
    width: 180px;
    height: 150px;
    object-fit: cover;
}
.quote-icon{
    font-size: 75px;
    color: orange;
    line-height: 1;
}
.review .stars{
    color: orange;
}
#reviews .carousel-indicators{
    margin-bottom: -3rem;
}
#reservation .form-control{
    border-radius: 0;
}
#reservation .form-control:focus{
    box-shadow: none;
    border-color: orange;
}
footer{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.milandesignagenda.com/wp-content/uploads/2022/10/Dining-Room-Top-15-Luxury-Dining-Tables-And-Chairs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 75px 0 30px 0;
}
